body {
    background-color: #141124 !important;
}

.container {
    display: flex;
    align-items: start;
}

.container-lg {
    display: flex;
    align-items: start;
    margin-top: 5%;
    margin-left: 15%;
}

.container-lg-img {

    display: flex;
    border: 1px solid #8083D9 !important;
    height: 400px;
    width: 400px;

}

.container-lg-desc {
    border: 1px solid #8083D9 !important;
    height: 400px;
    width: 400px;
    text-align: start;
}

img {
    height: 100%;
    width: 100%;
}

input {
    border-top: none;
    border-right: none;
    border-top: 1px solid #8083D9 !important;
    border-bottom: 1px solid #8083D9 !important;
    font-family: Inter;
    color: #D9D9D9;
    font-size: 12px;
    background-color: #141124;
    height: 300px;
    width: 398px;
    align-self: flex-start;
}

#texto-descricao {
    color: #D9D9D9;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#btn-voltar{
    width: 40px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #8083D9 !important;
}

p {
    font-size: 20px;
    margin: 2%;
    font-family: 'Dancing Script', cursive !important;
}

button {
    align-items: end;
    align-self: flex-end;
    background-color: #141124;
    margin-top: 4%;
    margin-left: 70%;
    border: 1px solid #8083D9 !important;
    border-radius: 8px;
    color: whitesmoke;
    font-size: small;
    font-family: Inter;
    width: 100px;
    height: 30px;

}