{% extends 'base.html' %}
{% load static %}
{% block head-stuff %}
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/post/novo-post-style.css' %}"/>
{% endblock %}
{% block content %}

    <div class="container align-self-center">
        <form action="{% url 'dashboard' %}">
            <input type="submit" value="Voltar" id="btn-voltar">
        </form>
        <form method="POST" action="{% url 'publicar_imagem' id=imagem_postar.id %}"> {% csrf_token %}
            <div class="container-lg align-self-center">
              <input type = "hidden" name = "postar_imagem" value = "{{imagem_postar.id}}">
               <input type = "hidden" name = "caminho_da_imagem_a_ser_salva" value = "{{caminho_da_imagem_a_ser_mostrada}}">
                <div class="container-lg-img align-self-center"> <img src="{{ caminho_da_imagem_a_ser_mostrada }}"> </div>
                <div class="container-lg-desc align-self-center" id="texto-descricao"> 
                    <p>Nova Publicação</p>
                    <div class="form-group">
                        <input type="text" id="descricao" placeholder="Descrição da Publicação" name="descricao"></input>
                    </div>
                    <button id="btn">Publicar</button>
                </div>
                
            </div>
        </form>
    </div>

            <div class = "filtros">
            <form method = "POST" action = "{% url 'novo_post' %}"> {% csrf_token %}
                <input type = "hidden" name = "postar_imagem" value = "{{imagem_postar.id}}">
                <button type = "submit" name = "filtro" id="btn-original" value = "original">Original</button>
                <button type = "submit" name = "filtro" id="btn-grayscale" value = "grayscale">GrayScale</button>
                <button type = "submit" name = "filtro" id="btn-blur" value = "blur">Blur</button>
                <button type = "submit" name = "filtro" id="btn-blur" value = "clahe">Equalização</button>
            </form>
        </div>
        </div>

{% endblock %}