{% extends 'base.html' %}
{% load static %}

{% block head-stuff %}
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock %}

{% block content %}
        <div class="container align-self-start">
            <link rel="stylesheet" href="{% static 'css/dashboard/dash-style.css' %}"/>
            <div class="row">
                
                <div class="col-lg-4" style="padding-top: 20px;">

                    <h5 style="text-align: left; color: #D9D9D9;">Meu perfil</h5>
                        <a style="margin: 10px" href="{% url 'dashboard' %}" style="color: #D9D9D9;">
                            <img class="user_icon" src="{{user.profile.foto_de_perfil.url}}">
                            <div class="row align-items-center" style="margin: 0;">
                                <p>@{{ user.username }}</p>
                                <p>{{ user.profile }}</p>
                            </div>
                        </a>
                        
                        <h5 style="text-align: left; color: #D9D9D9;">Usuários</h5>
                        
                        {% for usuario in lista_usuarios %}
                            {% if usuario.usuario.username != user.username %}
                                <a style="margin: 10px" href="{% url 'visitar_perfil' usuario.usuario.username %}">
                                    <img class="user_icon" src="{{usuario.usuario.profile.foto_de_perfil.url}}">
                                    <div class="row align-items-center" style="margin: 0; display: inline-block;">
                                        @{{ usuario.usuario.username }}
                                        <br>
                                        {{ usuario.usuario.profile }}
                                    </div>
                                </a>
                            {% endif %}
                        {% endfor %}
                </div>

                <div class="col-lg-8">

                    <div class="container">

                        <div class="row align-items-left" style="padding-top: 20px;">

                            <div class="col-3">
                                <div class="custom-file">
                                    <label class="custom-file__label" for="photo">
                                    <img alt="" class="thumb--lg rounded-circle" src="{{ profile.foto_de_perfil.url }}">
                                    </label>
                                </div>
                            </div>

                            <div class="col-7">

                                <div class="row" style="padding-top: 20px; padding-bottom: 10px;">

                                    <div class="col-12">
                                        
                                        <h1 class="username">@{{ profile.usuario.username }}</h1>
                                        <h2 class="nome-completo">{{ profile.usuario.profile }}</h2>
                                        <p class="bio">{{ profile.descricao_de_perfil }}</p>

                                        {% if user.username == profile.usuario.username %}

                                        <div style="text-align: right;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                                                <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                                            </svg>
                                        </div>

                                        <form action="{% url 'atualizar_usuario' %}">
                                            <input type="submit" value="Atualizar informações">
                                        </form>

                                        <form action="{% url 'logout' %}">
                                            <input type="submit" value="Sair">
                                        </form>
                                        {% endif %}
                                    </div>

                                </div>
                            </div>
                            <div class="col-2"></div>

                        </div>

                        <hr class="linha-horizontal">
                        <div class="frame-dash">
                            <ul class="nav nav-tabs nav-feed" id="myTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link active nav-link-1" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Linha do Tempo</button>
                                </li>

                                {% if user.username == profile.usuario.username %}
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link nav-link-2" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="true">Galeria</button>
                                </li>
                                {% endif %}
                            </ul>

                            <div class="frame-miniaturas">
                                <div class="tab-content" id="myTabContent">
                                    <!-- Feed/Linha do tempo -->
                                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        {% for postagem in lista_posts reversed %}
                                            <label class="btn-miniatura-post">
                                                <form method="POST" action="{% url 'detalhes_post' %}">{% csrf_token %}
                                                    <button type = "submit" class="image-button" name = "visualizar_postagem" value = "{{ postagem.id }} ">
                                                        <img src="{{ postagem.imagem.url }}">
                                                    </button>
                                                </form>
                                                <i class="bi bi-plus-square-dotted"></i>
                                            </label>
                                        {% endfor %}
                                    </div>
                                    
                                    <!-- Dashboard/Galeria -->
                                    {% if user.username == profile.usuario.username %}
                                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <label class="btn-miniatura-post" for="my-file-selector">
                                            <span>
                                                <div class="span2 miniatura">
                                                    <img src="{% static 'resources/lupa.png' %}">
                                                </div>
                                                <i class="bi bi-plus-square-dotted"></i>
                                            </span>
                                            <form method="POST" enctype="multipart/form-data" action="{% url 'upload_imagem' %}"> {% csrf_token %}
                                                <input type="file" multiple accept="image/*" id="my-file-selector" name="envio_galeria" style="display:none">
                                                <button class="enviar-botao">Enviar</button>
                                            </form>
                                        </label>
                                        
                                        {% for img in lista_imagens reversed %}
                                            <label class="btn-miniatura-post" for="my-file-selector">
                                                <span>
                                                    <form method="POST" action="{% url 'novo_post' %}"> {% csrf_token %}
                                                        <button type = "submit" class="image-button gallery" name = "postar_imagem" value = "{{ img.id }} ">
                                                            <img src="{{ img.imagem.url }} ">
                                                        </button>
                                                    </form>
                                                    <i class="bi bi-plus-square-dotted"></i>
                                                </span>
                                            </label>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}