{% extends 'base.html' %}
{% load static %}

{% block head-stuff %}
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/autenticacao/cadastro-style.css' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
        <div class="container">
            
            <form action="{% url 'cadastro' %}" method="POST"> {% csrf_token %}
                <div class="form-group">
                    <h1 id="title">SnapTure</h1>
                    <input type="text" class="form-control" placeholder="Nome completo" id="nome-completo" name="nome_completo">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nome de usuário" id="usuario" name="usuario">
                </div>

                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" id="email" name="email">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Senha" id="senha" name="senha">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Confirmação de Senha" id="senha" name="senha_confirmada">
                </div>

                <center>
                    <button id="btn" style="width:100;height:auto;">Cadastrar</button>
                </center>
                <center>
                    <h2 id="footer">
                        Já tem um conta? <a href="{%url 'login' %}" target="_blank">Conecte-se!<a>
                    </h2>
                </center>
            </form>

            {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <div class="alert {{ message.tags }}" role="alert">{{ message }}</div>
                        {% endfor %}
                    </ul>
            {% endif %}

        </div>
{% endblock %}