{% extends 'base.html' %}
{% load static %}

{% block content %}
        <div class="container" >
            <link rel="stylesheet" href="{% static 'css/autenticacao/login-style.css' %}" />
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
            <form action="{% url 'login' %}" method="POST"> {% csrf_token %}
                <div class="form-group">
                    <h1 id="title">SnapTure</h1>
                    <input type="email" class="form-control" placeholder="Email" id="email" name="email">
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Senha" id="senha" name="senha">
                </div>

                <center>
                    <button id="btn" style="width:90;height:30">Entrar</button>
                </center>
                <center>
                    <h2 id="footer">
                    Ainda não é cadastrado? <a href="http://127.0.0.1:8000/autenticacao/cadastro/" target="_blank">Cadastre-se aqui!<a>
                </h2>
                </center> 
            </form>
            {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <div class="alert {{ message.tags }}" role="alert">{{ message }}</div>
                        {% endfor %}
                    </ul>
            {% endif %}
        </div>
{% endblock %}